<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head> 


<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="shortcut icon" href="http://hot-trends-tag-cloud.appspot.com/media/images/favicon.ico" type="image/x-icon">

<title> Social Wheel</title>

       <script src="/files/js/DD_roundies_0.0.2a.js"></script>
		<script>
			DD_roundies.addRule('a.download, #morph', '18px', true);
						DD_roundies.addRule('#sbox', '18px', true);

		</script>
<style type="text/css">
  
    body {BACKGROUND-IMAGE: url(/files/images/gradient.jpg); 
    BACKGROUND-REPEAT: repeat-x;
    background-color:#edeefe; }
	form{margin:0px;padding:0px;display:inline;}*, *:active, *:focus{outline:0;outline-style:none;outline-width:0px;-moz-outline-width:0px;}.clear{clear:both;height:1px;}input, select{font:normal 13px 'Lucida Grande', Helvetica, Arial, sans-serif;color:#444;}select{border:solid 1px #bbb;}input.text_field, textarea{border:solid 1px #bbb;padding:7px;font:normal 13px 'Lucida Grande', Helvetica, Arial, sans-serif;color:#222;background:#fff url('/files/images/input_bg.gif') repeat-x top;outline:0;margin:0px;border:solid 1px #bbb;}input.text_field:disabled, textarea:disabled{background:#f5f5f5;}input.text_field.big{font-size:24px;}input.text_field.huge{border-color:#bbbbbb;font:normal 50px Georgia;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;}input.text_field.huge:focus{background:#F3FAFF url('/images/input_highlight_bg.png') top repeat-x;border-color:#B7C7D3;}
    button.generic:hover, input.generic:hover{background-color:#C2DAF0;border:1px solid #9BBAE2;color:#145591;}.big_button{margin:0px;border:solid 1px #ccc;border-top:solid 1px #ddd;border-left:solid 1px #ddd;font-size:22px;color:#fff;cursor:pointer;line-height:42px;height:42px;padding:0px 15px;overflow:visible;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;background:#87b500 url('/files/images/big_button_bg.png') top repeat-x;border-width:0px;border-right:solid 1px #689300;border-bottom:solid 1px #689300;text-shadow:#719e03 1px 1px;}.big_button:hover{background:#87b500;color:#ECF5DE;}.account_form label{font-size:20px;padding:0px;margin:30px 0px 7px 0px;color:#323C42;display:block;}
	#sbox {position:relative; float:left; margin:0 5px 5px 0; padding:20px 20px 20px 40px; border:8px solid #C3D9FF; background:#ffffff; color:#000; text-decoration:none;}
	#sbox big {position:absolute; left:10px; top:5px; line-height:1; font-size:300%; cursor:pointer;}

			
</style> 

<link rel="stylesheet" type="text/css" href="/files/css/common.css">

</head>
<div FirebugVersion="1.3.0" style="display: none;" id="_firebugConsole"></div>
<body>

 <div id="wrapper"  >









 <img src="/files/images/socialwheel.png" border="0" alt="twitter" name="twitter" >
				<div id="sbox" >
				
				
				<form action="/" method="get" class="account_form">
      <span style="margin-left:3px; color:#555; font-weight:normal; font-size:30px;">Select Service:</span><br>



<table border="0" width="80%" align="center">
  <tr>
    <td>  <img src="/files/images/Twitter_64x64.png" border="0" alt="twitter" name="twitter" ></td>
    <td>  <img src="/files/images/Flickr_64x64.png" border="0" alt="flickr" name="flickr" ></td>
    <td>  <img src="/files/images/Digg_64x64.png" border="0" alt="digg" name="digg" ></td>
    <td>  <img src="/files/images/MySpace_64x64.png" border="0" alt="myspace" name="myspace" ></td>
  </tr>
  <tr >
    <td align="center"><input name="site" type="radio" value="twitter" /></td>
    <td align="center"><input name="site" type="radio" value="flickr" /></td>
    <td align="center"><input name="site" type="radio" value="digg" /></td>
    <td align="center"><input name="site" type="radio" value="myspace" /></td>
  </tr>
</table>
						  <span style="margin-left:3px; color:#555; font-weight:normal; font-size:30px;">Enter Userid:</span><br>
					
						<table border="0" cellpadding="0" cellspacing="0" align="center">
							<tr>
								<td align="center">
					
									<input class="text_field huge" style="font:30px &quot;Lucida Grande&quot;, Verdana; color:#444; width:300px; text-align:left;" id="id" name="id" type="text" value=""/>            </td>
								 </td>
							</tr>
						</table>
					
						<div style="margin-top:40px; text-align:center;">
					
							<input type="submit" value="Show Wheel!" class="big_button" style="margin-right:15px;"/>
						</div>
					</form>   
				<br clear="both"><br clear="both">
				
				</div>

			

<br>

<br>
<!-- .wrapper -->
 </div>
 <br>
 
 
 </body>
 </html>